.parte1{
    
    background-image: url(img/fondo-bienvenido-grande.jpg);
    background-size: cover;
    height: 800px;
    border:none;
    color:white;
    text-align: center;
}
button
{
    background-color: #f05f40;
    color:white;
    border: none;
}
.fondo{
    background-color: black;
    opacity: 0.8;
}
.navbar-brand 
{
    display: flex;
    flex-wrap: wrap;
    outline: none;
   padding-left: 200px;
}
.menu-inicio{
    display: block;
    list-style: none;
    padding-left: 1000px;
    text-align: center;
    
}
.menu-inicio > li :hover{
    background-color: #f05f40;
}

.parte1 .navbar .menu-inicio > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration:none;
}
.sol-luz
{
    border:none;
    outline:none;
    padding-left: 600px;

}
.menu-inicio> li:hover{
background-color: #f05f40;
}
.centrar{
    text-align: center;
    padding-top: 250px;
}
.parte2{

    padding-top: 30px;
    color: white;
    background-color: #f05f40;
    background-size: cover;
    height: 600px;
}
.dos{
    background-color: white;
    color:black;
    border: none;

}
h2{display: block;
    padding-top: 50px;
    padding-bottom: 20px;
}

.fa-briefcase{
    font-size: 100px;
    color: #f05f40;
}
.fa-bullhorn{
    font-size: 100px;
    color: #f05f40;
}

.fa-check-square-o{
        font-size: 100px;
        color: #f05f40;
}
.parte3{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 25px;
    padding-left: 300px;
    padding-right: 300px;
    height: 500px;
}
.iconos{
    display: flex;
    flex-direction: row;
    padding-top:70px;
}
.de-centrar-1{
 display: flex;
 flex-direction: column;
}

.de-centrar-2{
    display: flex;
    flex-direction: column;
}

.de-centrar-3{
    display: flex;
    flex-direction: column;
}

.parte4{
    background-color:#424141;
}

.parte4 h1{
    color: white;
    padding-top: 50px;
}
.parte4 .imagenes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom:200px;
}
.parte4 img{
    width: 400px;
    margin: none;
    padding: 20px;
} 
.parte5{
    background-color:#222222;
}
.parte5 h3{
    height: 120px;
    color: white;
    padding-top: 40px;
}